.header {
  &__logo{
    font-size: 48px;
    span{
      color: #FF5300;
    }
  }
  &__container{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  width: 80%;
  max-width: 833px;
  &__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  &__item{
    &:not(:first-child){
      padding-right: 10px;
    }
    font-size: 20px;
    line-height: 23px;
    list-style-type: none;
  }
  &__link{
    position: relative;
    color: #1D1B19;
    opacity: 0.5;
    transition: opacity 0.8s;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10%;
      background: #FF5300;
      height: 3px;
      width: 0;
      transition: width 0.8s, opacity 0.8s;
      opacity: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &:hover {
      opacity: 1;
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
