<section class="container benefit">
  <ul class="benefit__list">
    <li class="benefit__item">
      <img src="../img/benefit/zondicons_travel-taxi-cab.png" alt="">
      <p>
        <span>24 000</span>
        Travel Experiences
      </p>
    </li>
    <li class="benefit__item">
      <img src="../img/benefit/Vector.png" alt="">
      <p>
        <span>55+</span>
        Countries
      </p>
    </li>
    <li class="benefit__item">
      <img src="../img/benefit/Group 6.png" alt="">
      <p>
        <span>Best Price</span>
        Guaranteed
      </p>
    </li>
    <li class="benefit__item">
      <img src="../img/benefit/icomoon-free_users.png" alt="">
      <p>
        <span>84 Million+</span>
        User per year
      </p>
    </li>
  </ul>
</section>
