<header class="header">
  <div class="container header__container">
    <h1 class="header__logo">
      <span>T</span>velia
    </h1>
    <nav class="nav header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link">Home</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">About</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Adventures</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">About</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Contact</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Login</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Signup</a></li>
      </ul>
    </nav>
  </div>
</header>
